node_modules
dist/bundle.js
dist/*

solr-10.0.0-SNAPSHOT/

tmp

meilisearch/
java/archiv/

archiv_fe/

*.zip
.mvn
.idea
.DS_Store
target
node_modules

**/meilisearch

target

JQuery-TypeScript-Boilerplate
micro-frontends-examples
parcel-project-template

.parcel*
presentation
archiv
rust
