node_modules
dist/bundle.js
dist/*

solr-10.0.0-SNAPSHOT/

tmp

meilisearch/
java/archiv/

archiv_fe/

*.zip
.mvn
.DS_Store
target
node_modules

**/meilisearch

target

.parcel*
presentation
archiv


out

imdb_data/

/rust 

data/

client.json


.idea
*.iml
