[Unit]
Description=WebFlux CustomerPrice Service
ConditionPathExists=/home/bumzack/micro-all-the-things/code/backend/webflux/v5/customer/webflux_customerprice_service

After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
WorkingDirectory=/home/bumzack/micro-all-the-things/code/backend/webflux/v5/customer/webflux_customerprice_service
ExecStart=java -jar ./target/webflux-customerprice-service-0.0.1-SNAPSHOT.jar


# make sure log directory exists and owned by syslog
ExecStartPre=/bin/mkdir -p /var/log/webflux_customerprice_service
ExecStartPre=/bin/chown syslog:adm /var/log/webflux_customerprice_service
ExecStartPre=/bin/chmod 755 /var/log/webflux_customerprice_service
SyslogIdentifier=webflux_customerprice_service

[Install]
WantedBy=multi-user.target