[Unit]
Description=KoaJS Authentication Service
ConditionPathExists=/home/bumzack/micro-all-the-things/code/backend/koajs/koajs_authentication_service

After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60
WorkingDirectory=/home/bumzack/micro-all-the-things/code/backend/koajs/koajs_authentication_service
ExecStart=node build/index.js

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/koajs_authentication_service
ExecStartPre=/bin/chown syslog:adm /var/log/koajs_authentication_service
ExecStartPre=/bin/chmod 755 /var/log/koajs_authentication_service
SyslogIdentifier=koajs_authentication_service

[Install]
WantedBy=multi-user.target