[Unit]
Description=Rust Search Rating Service
ConditionPathExists=/home/bumzack/micro-all-the-things/code/backend/rust/search/rust_ratingsearch
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60
WorkingDirectory=/home/bumzack/micro-all-the-things/code/backend/rust/search/rust_ratingsearch
ExecStart=/home/bumzack/micro-all-the-things/code/backend/rust/target/release/rust_ratingsearch

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/rust_ratingsearch
ExecStartPre=/bin/chown syslog:adm /var/log/rust_ratingsearch
ExecStartPre=/bin/chmod 755 /var/log/rust_ratingsearch
SyslogIdentifier=rust_ratingsearch

[Install]
WantedBy=multi-user.target